body {
    text-align: center;
    background-image: url("../images/bg3.jpg");
    overflow: hidden;
}
h2 {
    color:black;
    font-family: Adamina coda 22px ;
}
.container {
    display: -webkit-flex;
    display: flex;
  }
#Heros{
   display: inline-block;
   vertical-align: top;
   width: 150px;
   margin-left:150px;
}
#Heros img {
    display: block;
    text-decoration: none;
}
#Heros img:hover{
    background-color: #ccc;
}
.overlay{

    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(252, 249, 249);
    visibility: hidden;	
   
}
.popup{
    
    text-align:center;
    width:80%;
    height:auto;
    margin:300px auto;
}

.content-1, 
.content-2{
    color:black;
    font-size: 1.1rem;
}

.show{
    visibility: visiable !important;
}
.collapse{
    visibility: collapse;
}
#play-again{
    background:#02ccba;
    color:rgb(8, 8, 8);
    border: none;
    margin: 0 auto;
    font-family: cursive;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    display: inline-block;
}

